@{
    ViewData["Title"] = "Solar System Explorer";
}

<div class="content-wrapper">
    <div class="star-field"></div>
    <header>
        <h1>Solar System Explorer</h1>
    </header>
    <main class="main-content">
        <section id="hero">
            <h2>Explore the Wonders of Our Solar System</h2>
            <div class="solar-system-gif">
                <iframe src="https://giphy.com/embed/YqopropuC719C" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
            <button id="startJourneyButton" data-url="@Url.Action("Index", "SolarSystem")" onclick="window.location.href=this.getAttribute('data-url')">Start Your Journey</button>
        </section>
    </main>
</div>