@{
    ViewData["Title"] = "Solar System Explorer";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true">
</head>
<body>
    <div class="star-field"></div>
    <header>
        <h1>Solar System Explorer</h1>
        <div class="solar-system-gif">
            <iframe src="https://giphy.com/embed/YqopropuC719C" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
    </header>
    <main>
        <section id="hero">
            <h2>Explore the Wonders of Our Solar System</h2>
            <button id="exploreButton" data-url="@Url.Action("StartYourJourney", "SolarSystem")">Start Your Journey</button>
        </section>
    </main>
    <footer>
        <p>&copy; @DateTime.Now.Year Solar System Explorer</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
</body>
</html>